.main {
	max-width: 800px;
	margin: auto;
}

.heading {
	text-align: center;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	font-size: larger;
}

.right {
	display: flex;
	flex-direction: column;
	p {
		margin: 0 0 1rem 0;
	}
}
