.main {
	max-width: 700px;
	margin: auto;
}

.heading1 {
	text-align: center;
}

.heading3 {
	margin-left: 2rem;
}

.top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem;
	font-size: larger;
}
