.label {
	width: 65%;
	margin-left: 1.5rem;
}

.input {
	width: 310px;
	height: 40px;
	font-size: large;
	font-weight: bold;
	padding-left: 1rem;
	margin-top: 0.5rem;
	&::placeholder {
		color: rgb(181, 181, 181);
	}
}
